.swiss-wrapper {
  min-height: 100vh;
}
.swiss-wrapper .swiss-user-box {
  background-color: white;
  height: 300px;
  margin-bottom: 10px;
}
.swiss-wrapper .img-request {
  display: block;
  position: relative;
  top: 10px;
  left: 10px;
  text-align: justify;
}
.icon-list {
  padding-top: 20px;
  color: white;
}
.icon-list .glyphicon {
  font-size: 30px;
}
.rescue-finder-plus {
  margin-top: 75px;
}
.rescue-finder-plus p {
  margin-top: 5px;
  color: white;
}
.hr-row {
  padding: 0;
  margin: 0;
}
