body.swiss-finder {
  background-image: url(../images/matterhorn-background.png);
  /*color: whitesmoke;*/
}
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .nav-sidebar-md {
    width: 245px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  html,
  body,
  .swiss-container {
    height: auto;
  }
  .nav-sidebar-lg {
    width: 291px;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media (min-height: 1281px) and (max-height: 1200px) {
  /* hi-res laptops and desktops */
  html,
  body,
  .swiss-container {
    height: 100%;
  }
}
.nav-sidebar {
  background-color: #30456C;
  margin-left: -15px;
  position: fixed;
  height: 100%;
  /*width: 291px;*/
}
.nav-sidebar a {
  color: white;
}
.swiss-login-name {
  padding: 10px;
  color: white;
}
.swiss-login-name > div {
  float: left;
}
.swiss-login-name > div small {
  position: relative;
  top: 2px;
}
.swiss-login-name > div h4 {
  margin-top: 0;
}
.swiss-login-name > p {
  float: right;
  padding: 20px 10px 0 0;
}
.swiss-logo {
  background-color: #172134;
  padding: 20px 0 15px 20px;
}
.swiss-nav {
  padding-left: 0;
  list-style-type: none;
}
.swiss-nav .nav-item {
  padding: 10px 0 0 10px;
  cursor: pointer;
}
.swiss-nav .nav-item a {
  display: inline-block !important;
  top: 2px;
  padding: 10px;
  text-decoration: none;
}
.swiss-nav .nav-item img {
  display: inline-block;
}
.swiss-container {
  background-color: #628AD7;
  color: white;
}
.swiss-container-startpage-row {
  padding-top: 35px;
}
.swiss-content-box {
  background-color: white;
  color: black;
  height: 400px;
  margin-bottom: 20px;
  width: 325px;
}
.swiss-content-box .swiss-content {
  padding: 10px;
}
.swiss-personalise-box {
  background-color: white;
  color: black;
  margin-top: 25px;
}
.swiss-personalise-box > div.row {
  padding: 20px;
}
.swiss-personalise-box div:nth-of-type(2) {
  padding-top: 13px;
}
.swiss-personalise-box button {
  width: 200px;
}
.startpage-header {
  margin-top: 50px;
  color: white;
}
.swiss-wrapper {
  min-height: 100vh;
}
.swiss-wrapper .swiss-user-box {
  background-color: white;
  height: 300px;
  margin-bottom: 10px;
  color: black;
}
.swiss-wrapper .img-request {
  display: block;
  position: relative;
  top: 10px;
  left: 10px;
  text-align: justify;
}
.icon-list {
  padding-top: 20px;
  color: white;
}
.icon-list .glyphicon {
  font-size: 30px;
}
.rescue-finder-plus {
  margin-top: 75px;
}
.rescue-finder-plus p {
  margin-top: 5px;
  color: white;
}
.hr-row {
  padding: 0;
  margin: 0;
}
.add-finder-row {
  padding: 20px 0 20px 0;
}
.add-finder-row a {
  text-decoration: underline;
}
.btn-continue {
  width: 200px;
}
hr {
  border-color: #648CDC;
}
.swissicon-edit {
  background-color: lightgray;
  width: auto;
  height: 35px;
  border-radius: 5px;
  display: inline-block;
}
.swiss-icon {
  width: 30px;
}
.swiss-icon.medium {
  width: 30px;
}
.swiss-icon.small {
  width: 25px;
}
.cust-details-box p span {
  display: inline-block;
  width: 150px;
}
.cust-info {
  display: inline-block;
  position: relative;
  top: 10px;
  left: 5px;
}
.p-t-20 {
  padding-top: 20px;
}
.swiss-reserve-row {
  padding: 25px 15px 0 15px;
}
.swiss-reserve-box {
  background-color: white;
  color: black;
}
.swiss-biometric-box {
  padding: 25px;
  background-color: #4FD084;
}
.find-details-link {
  position: relative;
  top: 10px;
  color: white;
  text-decoration: underline;
}
.full-width {
  width: 100%;
}
.control-label {
  font-weight: normal;
  color: gray;
}
hr.light {
  border-top: 1px solid #B1C5ED;
}
.swiss-nav-header {
  background-color: #31456D;
  padding: 10px 10px 4px 10px;
  color: white;
  margin-bottom: 30px;
  min-width: 450px;
}
.swiss-nav-header button {
  background-color: #5A6A8A;
  border: 0px;
}
.swiss-nav-header button > span {
  color: white;
}
.swiss-nav-header button:hover {
  background-color: #5A6A8A;
}
.swiss-nav-header button:active {
  background-color: #5A6A8A;
}
.swiss-nav-header button:focus {
  background-color: #5A6A8A;
}
.swiss-nav-header h4 {
  color: white;
}
.swiss-allergie-container > div {
  padding: 0 0 5px 0;
}
